<center>
  <p>{{ site.title }}</p>
  <span style="vertical-align: baseline !important; display: inline-block; height: 32px">
    <a title="Twitter" href="https://twitter.com/efeuska"><img src="{{ site.baseurl }}/public/twitter.png"></a>
  </span>
  <span style="vertical-align: baseline !important; display: inline-block; height: 32px">
    <a title="LinkedIn" href="http://tr.linkedin.com/in/efekahraman"><img src="{{ site.baseurl }}/public/linkedin.png"></a>
  </span>
  <span style="vertical-align: baseline !important; display: inline-block; height: 32px">
    <a title="GitHub" href="https://github.com/efekahraman"><img src="{{ site.baseurl }}/public/github.png"></a>
  </span>
  <span style="vertical-align: baseline !important; display: inline-block; height: 32px">
    <a title="StackOverflow" href="http://stackoverflow.com/users/1942323/efe-kahraman"><img src="{{ site.baseurl }}/public/stackoverflow.png"></a>
  </span>
</center>
